@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

body {
    font-family: 'Comfortaa',
    cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

header {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-nav-container {
    width: 900px;
    padding-left: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.heading-container {
    margin-bottom: 6px;
    padding: 20px 0;
}

main {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.styles-wrapper {
    width: 400px;
    margin-bottom: 10px;
}
fieldset {
    border-radius: 4px;
}

.styles-wrapper label {
    margin: 0 10px;
}

.styles-wrapper legend {
    margin-bottom: 5px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 400px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 15px;
    /* background-color: #00bcd4; */
    border-radius: 6px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

section {
    width: 100%;
}

section ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: 100%;
}

#input-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(6, 24, 44, 0.4);
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 5px 5px;
    width: 100%;
}

#input-text {
   width: fit-content;
   height: 30px;
   width: 327px;
    padding: 0 0 0 5px;
    border: none;
    margin-right: 5px;
}

#input-text:focus {
    color: rgba(34, 32, 32, 0.993);
}

button {
    display: flex;
    align-items: center;
    background-color: rgb(105, 207, 105);
    color: white;
    border-radius: 4px;
    border: none;
}

#add-btn {
    padding: 0 5px;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: #2196f3; */
    color: white;
    margin: 10px 0;
    padding: 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 4px;
    font-weight: bold;
    height: 40px;
}

li:hover {
    background-color: #2195f3df;
}

.li-checked {
    text-decoration: line-through;
    font-weight: lighter;
}

span {
    cursor: pointer;
}

.item-name {
    overflow: hidden;
    margin: 0 10px;
}

.close-btn {
    background-color: rgb(241, 93, 93);
    border-radius: 4px;
    color: white;
}

button:hover,
.close-btn:hover {
    color: #17202A;
}

.edit-btn:hover {
    color: #17202A;
}

.close-edit-btn:hover  {
    color: rgb(105, 207, 105);
}

.item-input {
    width: fit-content;
    /* color: white; */
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    display: block;
}

.invisible {
    display: none;
}

.clear-btn-container {
    margin-top: 10px;
}

.clear-btn-container p {
    font-size: smaller;
}

#clear-btn {
    font-size: 2.4em;
    color: #3498DB;
}

#message-container {
    margin: 20px 0;
}

footer {
    margin-top: 50px;
    font-size: 12px;
}

@media (max-width:400px) {
    body {
        background-color: #ECF0F1;
    }
    header {
        box-shadow: none;
        flex-direction: column;
        align-items: center;
    }
    .wrapper {
        padding: 0 20px;
        box-shadow: none;
        background-color: transparent;
    }

    #input-button-container {
        background-color: white;
    }
}